@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #030014;
  color: #fff;
}

::selection {
  background-color: #18112A;
}

#cover {
 
  display: flex;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.currentIconPage svg {
  stroke: #f5741c;
  fill: #f5741c;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #f5741c;
}
